.brandNameLinkStyling {
    color: aliceblue;
    text-decoration: none;
}


.loginButton {
    
    a {
        text-decoration: none;
    }
}

.signupButton {
    margin-left: 16px;
    
    a {
        text-decoration: none;
    }
    
}

.userProfileButton {
    
    a {
        text-decoration: none;
    }
}

.logoutButton {
    margin-left: 16px;

    a {
        text-decoration: none;
    }
}