@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Fredoka+One&family=Oleo+Script:wght@700&family=Righteous&display=swap');

$Audiowide: 'Audiowide', cursive;

$BungeeShade: 'Bungee Shade', cursive;

$FredokaOne: 'Fredoka One', cursive;

$OleoScript: 'Oleo Script', cursive;

$Righteous: 'Righteous', cursive;